

body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  direction: rtl;
  text-align: right !important;
}


@font-face {
  font-family: "IRANSansWeb";
  src: local("IRANSansWeb"),
      url("./fonts/IRANSansWeb.ttf") format("truetype");
}

@font-face {
  font-family: "IRANSansWebBold";
  src: local("IRANSansWebBold"),
      url("./fonts/IRANSansWeb_Bold.ttf") format("truetype");
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
}

* {
  text-decoration: none;
}


/********************Effect On All*****************/



/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


input {
  background: #fff;
  color: #525865;
  border-radius: 4px;
  border: 1px solid #d1d1d1;
  box-shadow: inset 0px 1px 8px rgba(216, 216, 216, 0.2);
  outline: none;
  padding: 2px 5px;
}


.chooseFileDesign {
  border: none;
  background: none;
}

/********************Navbar*****************/

.navbarDesign {
  background-color: #e6462d;
}

.imgDesign {
  width: 50px;
  height: 50px;

  border-radius: 50%;
}



/********************Sidebar*****************/



.sidebarDesign {
  height: calc(100vh - 66px);
  position: fixed;
  background-color: #518f8b;
}

.sidebarDesign ul {
  list-style: none;
  text-decoration: none !important;
  padding: 0;
}

.sidebarDesign li a{
  text-decoration: none;
}


.sidebarDesign li:hover{
  background-color: #e3e1c8;
  border-radius: 5px;
}

.sidebarDesign li:hover a {
  color: #472c33 !important;
}



/********************Page Header*****************/


.pageHeaderDesign {
  width: calc(100% - 350px);
  right: 315px;
  position: relative;
  background-color: #e3e1c8;
}






/********************Page Main Content Section*****************/


.mainContentDesign {
  display: flex;
  border-radius: 0.25rem;
  margin-top: 1rem;
  padding: 1.5rem;
  width: calc(100% - 350px);
  right: 315px;
  position: relative;
  background-color: #e3e1c8;
}


.halfMainContentDesign {
  display: flex;
  /* align-items: center; */
  border-radius: 0.25rem;
  margin-top: 1rem;
  padding: 1.5rem;
  width: calc((100% - 360px)/2);
  right: 315px;
  margin-left: 10px;
  position: relative;
  background-color: #e3e1c8;
}



/********************Smspanel Section*****************/

textarea:focus {
  outline: none;
}




/********************Create User Section*****************/


.userInputsDesign {
  border-radius: 1px !important;
  /* border-color: grey !important; */
}


.userInputsDesign:focus {
  outline: none;
}






/********************Invoice Archives Section*****************/


.buttonDesign {
  border: none;
  border-radius: 0.25rem;
  padding: 5px 15px;
}


.formButtonDesign input {
  border: 1px solid;
}

.formButtonDesign select {
  border: 1px solid;
  padding: 2.5px;
}


/******************** Upload Archives *****************/

.uploadInputDesign input {
  border: 1px solid;
}




/******************** User Record *****************/



.usersListDesign input[type=checkbox]{
  padding: 10px 20px;
}



/******************** Create User *****************/



.newUserDesignPage input{
  margin: 10px 10px;
  border: none 1px solid;
  border-radius: 5px;
  border-color: white;
}



/******************** Users List *****************/


/* 
.inputFieldDesign {
  width: 100%;
  padding: 10px;
  text-align: center;
} */


/* .iconDesign {
  padding: 10px;
  min-width: 40px;
  position: absolute;
} */